
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper 

@inject IPublishedUrlProvider PublishedUrlProvider
@{
  var rootContents = UmbracoHelper.ContentAtRoot();
  var settings = rootContents?.FirstOrDefault(x => x.ContentType.Alias == "settingsPage") ?? null; 

  var selection = Model.Ancestors().ToArray();
  var homePageDisplayName = "Home";
  var isFirstItem = true;

  var breadCrumbImg = settings?.Value<IPublishedContent>("bgBreadcrumb")?.Url() ?? ""; 

}

 <section class="onatrixHeadline">
  
       <img src="@breadCrumbImg"> 
    <div class="container headline">
        <h1 >@Model.Name</h1>  
        <div>
            @if (selection?.Length > 0)
           
           { 
                <ul class="headline-home">
                   
                    @foreach (var item in selection.OrderBy(x => x.Level))
                    {
                        var displayName = isFirstItem ? homePageDisplayName : item.Name;
                        <li><a href="@item.Url(PublishedUrlProvider)">@displayName</a></li>
                        isFirstItem = false;
                    }
                    <li class="active">@Model.Name</li>
                </ul>
            }
        </div>                                     
      
    </div>     
</section>




